.item {
    display: flex;
    gap: 8px;
}

.flex {
    display: flex;
    gap: 8px;
}

.row {
    display: flex;
    gap: 14px;
}

.users {
    display: flex;
    gap: 14px;
    width: 100%;
    max-width: 100vw;
    flex-wrap: wrap;
}

.user {
    flex-shrink: 0;
}

.hide {
    display: none;
}