.alert {
    position: absolute;
    right: 0;
    top: 80px;
    padding: 18px 24px;
    max-width: 240px;

    background-color: #2e3e74; 
    color: #6b9bff; 

    transform: translateY(calc(-80px - 100%));
}

.alert.message {
    background-color: #2f6149;
    color: #4bef81;
}

.alert.error {
    background-color: #742e2e; 
    color: #ff6b6b; 
}

.alert.active {
    transform: translateY(0);
}