.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.table {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 16px;
}

.top {
    width: 100%;
}

.bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}

.bottom button {
    width: fit-content;
}

.auto {
    margin-bottom: 8px;
    padding: 6px 8px;
    background-color: #333742;
    border-radius: 6px;
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
    transition: 0.4s ease;
}

.auto:hover {
    background-color: #66cc66;
    color: #f2f2f2;
}

.auto.open {
    background-color: #66cc66;
    color: #f2f2f2;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}